body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Allow horizontal scrolling if the screen is too small */
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    padding-top: 120px; /* Add padding to prevent overlap with fixed header */
    margin: auto; /* Center the main container */
}

.admin-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; /* Space between buttons and content */
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.sidebar {
    flex: 0 0 220px;
    padding: 20px;
    background-color: #444;
    margin-right: 20px; /* Space between sidebar and content */
    min-height: calc(100vh - 120px); /* Fill the viewport height minus padding */
}

.content {
    flex-grow: 1;
    padding: 20px;
    max-width: calc(100% - 260px); /* Ensure content width does not overlap with sidebar */
    overflow-y: auto;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: row;
        align-items: flex-start;
        overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
    }
    .sidebar {
        flex: 0 0 180px; /* Reduce the width for smaller screens */
    }
    .content {
        max-width: calc(100% - 200px); /* Adjust content width based on sidebar size */
    }
}

h1 {
    font-size: 4em; /* Doubled the font size */
    color: #c89a0c; /* Darker shade of ochre yellow */
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed; /* Fixed at the top of the screen */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensures it's above other content */
    cursor: pointer; /* Add pointer cursor for clickability */
}

h2 {
    font-size: 2.5em; /* Adjusted font size */
    color: #c89a0c; /* Darker shade of ochre yellow */
    margin-top: 20px;
    text-align: center; /* Centers text horizontally */
    position: relative; /* or 'absolute' if you're positioning it within a specific container */
    z-index: 1000; /* Ensures it's above other content */
}

.btn-camera {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #c89a0c;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #c89a0c;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #a7840a;
}

.btn-admin-control {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #c89a0c;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-admin-control-active {
    background-color: #c89a0c;
    color: white;
}

.btn-admin-control-side {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #c89a0c;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-admin-control-side-active {
    background-color: #c89a0c;
    color: white;
}

.edit-btn {
    margin-left: auto;
    background-color: #c89a0c;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.edit-btn:hover {
    background-color: #a7840a;
}

.delete-btn {
    margin-left: 10px;
    background-color: #8b0000;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #720000;
}

.add-user-btn, .add-hap-btn, .add-organization-btn {
    display: block;
    margin: 20px auto;
    background-color: #c89a0c;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.add-user-btn:hover, .add-hap-btn:hover, .add-organization-btn:hover {
    background-color: #a7840a;
}
